body{
    /* background-color: rgb(48, 47, 47) !important; */
    background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.card {
 background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.amount{
    color:#771f08;
}

.add-btn{
    background-color: #771f08 !important;
    color: white !important;
    transition: all 0.3s ease;
}
.add-btn:hover {
  background-color: #5a1706 !important; /* darker */
  transform:scale(1.03);
}
.close-btn{
    background-color: transparent !important;
    /* border:1px solid #771f08 !important; */
     transition: all 0.3s ease;
}

.close-btn:hover {
  background-color: rgb(245, 243, 243) !important;
  transform:scale(1.03);
}